body, html {
    color: #a9adb8;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    overflow-x: hidden
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    color: #fdfeff;
    padding: 0;
    margin: 0 0 10px;
    font-weight: 700;
    line-height: 1.2em
}
h1 {
    font-size: 40px
}
h2 {
    font-size: 34px
}
h3 {
    font-size: 26px
}
h4 {
    font-size: 22px
}
h5 {
    font-size: 18px
}
h6 {
    font-size: 15px
}
p {
    color:#a9adb8;
    margin-bottom: 12px
}
ul {
    color:#a9adb8;
    margin: 0 0 3px;
    padding-left: 15px;
}
ol {
    padding-left: 15px;
    margin-bottom: 15px
}
cite, dfn, em, i {
    font-style: italic
}
blockquote {
    margin: 0 15px
}
address {
    margin: 0 0 15px
}
img {
    border: 0;
    max-width: 100%;
    height: auto
}
a {
    color:#a9adb8;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
a:hover {
    text-decoration: none;
    color: inherit
}
@media screen and (max-width:991px) {
    body, html {
        font-size: 14px
    }
}
@media screen and (min-width:992px) {
    .unhittable-height-b0 {
        height: 0
    }
    .unhittable-height-b25 {
        height: 25px
    }
    .unhittable-height-b30 {
        height: 30px
    }
    .unhittable-height-b40 {
        height: 40px
    }
    .unhittable-height-b80 {
        height: 80px
    }
    .unhittable-height-b85 {
        height: 85px
    }
    .unhittable-height-b90 {
        height: 90px
    }
    .unhittable-height-b95 {
        height: 95px
    }
    .unhittable-height-b100 {
        height: 100px
    }
}
@media screen and (max-width:991px) {
    .unhittable-height-lg-b0 {
        height: 0
    }
    .unhittable-height-lg-b5 {
        height: 5px
    }
    .unhittable-height-lg-b10 {
        height: 10px
    }
    .unhittable-height-lg-b15 {
        height: 15px
    }
    .unhittable-height-lg-b20 {
        height: 20px
    }
    .unhittable-height-lg-b25 {
        height: 25px
    }
    .unhittable-height-lg-b30 {
        height: 30px
    }
    .unhittable-height-lg-b35 {
        height: 35px
    }
    .unhittable-height-lg-b40 {
        height: 40px
    }
    .unhittable-height-lg-b45 {
        height: 45px
    }
    .unhittable-height-lg-b50 {
        height: 50px
    }
    .unhittable-height-lg-b55 {
        height: 55px
    }
    .unhittable-height-lg-b60 {
        height: 60px
    }
    .unhittable-height-lg-b65 {
        height: 65px
    }
    .unhittable-height-lg-b70 {
        height: 70px
    }
    .unhittable-height-lg-b75 {
        height: 75px
    }
    .unhittable-height-lg-b80 {
        height: 80px
    }
    .unhittable-height-lg-b85 {
        height: 85px
    }
    .unhittable-height-lg-b90 {
        height: 90px
    }
    .unhittable-height-lg-b95 {
        height: 95px
    }
    .unhittable-height-lg-b100 {
        height: 100px
    }
    .unhittable-height-lg-b105 {
        height: 105px
    }
    .unhittable-height-lg-b110 {
        height: 110px
    }
    .unhittable-height-lg-b115 {
        height: 115px
    }
    .unhittable-height-lg-b120 {
        height: 120px
    }
    .unhittable-height-lg-b125 {
        height: 125px
    }
    .unhittable-height-lg-b130 {
        height: 130px
    }
    .unhittable-height-lg-b135 {
        height: 135px
    }
    .unhittable-height-lg-b140 {
        height: 140px
    }
    .unhittable-height-lg-b145 {
        height: 145px
    }
    .unhittable-height-lg-b150 {
        height: 150px
    }
    .unhittable-height-lg-b155 {
        height: 155px
    }
    .unhittable-height-lg-b160 {
        height: 160px
    }
    .unhittable-height-lg-b165 {
        height: 165px
    }
    .unhittable-height-lg-b170 {
        height: 170px
    }
    .unhittable-height-lg-b175 {
        height: 175px
    }
    .unhittable-height-lg-b180 {
        height: 180px
    }
    .unhittable-height-lg-b185 {
        height: 185px
    }
    .unhittable-height-lg-b190 {
        height: 190px
    }
    .unhittable-height-lg-b195 {
        height: 195px
    }
    .unhittable-height-lg-b200 {
        height: 200px
    }
    .unhittable-height-lg-b205 {
        height: 205px
    }
    .unhittable-height-lg-b210 {
        height: 210px
    }
}
.unhittable-mp0 {
    margin: 0;
    padding: 0
}
.unhittable-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.unhittable-zoom {
    position: relative;
    overflow: hidden
}
.unhittable-zoom .unhittable-zoom-in {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.unhittable-zoom:hover .unhittable-zoom-in {
    -webkit-transform: scale(1.07);
    transform: scale(1.07)
}
.unhittable-vertical-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}
.unhittable-vertical-middle .unhittable-vertical-middle-in {
    width: 100%
}
.unhittable-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}
.unhittable-content {
    position: relative;
    z-index: 10;
    overflow-x: hidden
}
.unhittable-sticky-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden
}
.unhittable-dark-bg {
    background-color: #070d1b
}
.unhittable-gray-bg {
    background-color: #000000
}
.unhittable-gray-overlay {
    position: relative
}
.unhittable-gray-overlay:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(184, 184, 184, .86)
}
.unhittable-gray-overlay .container {
    position: relative;
    z-index: 1
}
hr {
    margin: 0;
    width: 100%;
    border-color: #000
}
.unhittable-fixed-bg {
    background-attachment: fixed
}
@media screen and (max-width:991px) {
    .unhittable-content {
        margin: 0 !important
    }
    .unhittable-vertical-middle {
        display: block
    }
}
.unhittable-site-header.unhittable-style1 {
    background-color: rgba(7, 13, 27, .9);
    -webkit-box-shadow: 0 10px 10px -10px rgba(7, 13, 27, .1);
    box-shadow: 0 10px 10px -10px rgba(7, 13, 27, .1);
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.unhittable-site-header.unhittable-style1 .unhittable-main-header-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px
}
.unhittable-site-header.unhittable-style1.unhittable-sticky-active {
    background-color: #070d1b
}
@media screen and (max-width:991px) {
    .unhittable-main-header .container {
        max-width: 100%
    }
    .unhittable-site-header.unhittable-style1 {
        background-color: #070d1b
    }
}
.btn-1 {
    background-color: #f79159;
    box-shadow: 0 6px darken(#f79159, 10%);
    transition: none;
}
.btn-1:hover {
    box-shadow: 0 4px darken(#f79159, 10%);
    top: 2px;
}

.unhittable-nav ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.unhittable-main-header {
    position: relative
}
@media screen and (min-width:992px) {
    .unhittable-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .unhittable-nav .unhittable-nav-list {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .unhittable-nav .unhittable-nav-list>li {
        margin-right: 40px
    }
    .unhittable-nav .unhittable-nav-list>li:launhittable-child {
        margin-right: 45px
    }
    .unhittable-nav .unhittable-nav-list>li>a {
        padding: 15px 0;
        font-size: 15px;
        display: inline-block;
        color: #fdfeff;
        text-transform: uppercase;
        font-family: Roboto, sans-serif;
        font-weight: 500s
    }
    .unhittable-nav .unhittable-nav-list>li>a.active {
        color: #33ff00
    }
    .unhittable-nav .sp-phone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 45px;
        position: relative
    }
    .unhittable-nav .sp-phone::before {
        content: "";
        position: absolute;
        height: 11px;
        width: 1px;
        background: #fff;
        left: 0
    }
    .unhittable-nav .sp-phone svg {
        fill: #fff;
        width: 15px
    }
    .unhittable-nav .sp-phone .sp-phone-no {
        padding-left: 15px;
        color: #51ff00
    }
    .unhittable-munu-dropdown-toggle, .unhittable-munu-toggle {
        display: none
    }
}
@media screen and (max-width:991px) {
    .unhittable-munu-dropdown-toggle {
        position: absolute;
        height: 30px;
        width: 30px;
        right: 20px;
        top: 5px
    }
    .unhittable-munu-dropdown-toggle:after, .unhittable-munu-dropdown-toggle:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 2px;
        width: 10px;
        background-color: #fdfeff;
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }
    .unhittable-munu-dropdown-toggle:before {
        -webkit-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg)
    }
    .unhittable-munu-dropdown-toggle.active:before {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0)
    }
    .unhittable-nav .unhittable-nav-list {
        position: absolute;
        width: 100vw;
        left: 0;
        background-color: #070d1b;
        padding: 10px 0;
        display: none;
        top: 100%;
        border-top: 1px solid #101624;
        border-bottom: 1px solid #101624;
        overflow: auto;
        max-height: calc(100vh - 80px)
    }
    .unhittable-nav .unhittable-nav-list ul {
        padding-left: 15px;
        display: none
    }
    .unhittable-nav .unhittable-nav-list a {
        display: block;
        padding: 8px 20px
    }
    .unhittable-nav .menu-item-has-children {
        position: relative
    }
    .unhittable-nav .sp-phone {
        display: none
    }
    .unhittable-munu-toggle {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 27px;
        margin: 15px 0;
        cursor: pointer
    }
    .unhittable-munu-toggle span, .unhittable-munu-toggle span:after, .unhittable-munu-toggle span:before {
        width: 100%;
        height: 2px;
        background-color: #666;
        display: block
    }
    .unhittable-munu-toggle span {
        margin: 0 auto;
        position: relative;
        top: 12px;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        -webkit-transition-delay: .2s;
        transition-delay: .2s
    }
    .unhittable-munu-toggle span:before {
        content: '';
        position: absolute;
        margin-top: -8px;
        -webkit-transition-property: margin, -webkit-transform;
        transition-property: margin, -webkit-transform;
        transition-property: margin, transform;
        transition-property: margin, transform, -webkit-transform;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transition-delay: .2s, 0s;
        transition-delay: .2s, 0s
    }
    .unhittable-munu-toggle span:after {
        content: '';
        position: absolute;
        margin-top: 8px;
        -webkit-transition-property: margin, -webkit-transform;
        transition-property: margin, -webkit-transform;
        transition-property: margin, transform;
        transition-property: margin, transform, -webkit-transform;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transition-delay: .2s, 0s;
        transition-delay: .2s, 0s
    }
    .unhittable-toggle-active span {
        background-color: transparent;
        -webkit-transition-delay: .2s;
        transition-delay: .2s
    }
    .unhittable-toggle-active span:before {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0s, .2s;
        transition-delay: 0s, .2s
    }
    .unhittable-toggle-active span:after {
        margin-top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s, .2s;
        transition-delay: 0s, .2s
    }
}
.unhittable-sticky-header {
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0;
    left: 0
}
.unhittable-site-header.unhittable-style2 .unhittable-header-author {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, .1);
    margin: auto
}
.unhittable-site-header.unhittable-style2 .unhittable-header-author img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
@media screen and (min-width:991px) {
    .unhittable-site-header.unhittable-style2 {
        width: 300px;
        background: #070d1b;
        height: 100vh;
        border-right: 1px solid #101624;
        overflow: auto
    }
    .unhittable-site-header.unhittable-style2 .unhittable-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .unhittable-site-header.unhittable-style2 .unhittable-nav .unhittable-nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .unhittable-site-header.unhittable-style2 .unhittable-nav .unhittable-nav-list>li {
        margin-right: 0
    }
    .unhittable-site-header.unhittable-style2 .unhittable-nav .unhittable-nav-list>li>a {
        padding: 10px 0
    }
    .unhittable-site-header.unhittable-style2 .unhittable-main-header {
        position: relative;
        padding: 40px 25px 80px
    }
    .unhittable-site-header.unhittable-style2 .unhittable-main-header:after {
        content: '';
        position: fixed;
        height: 80px;
        width: 299px;
        left: 0;
        bottom: 0;
        background-color: #070d1b
    }
    .unhittable-site-header.unhittable-style2 .unhittable-social-btn.unhittable-style1 {
        position: fixed;
        bottom: 40px;
        left: 40px
    }
    .unhittable-site-header.unhittable-style2 .unhittable-social-btn.unhittable-style1 li {
        color: #0a101e;
        margin-right: 20px;
        font-size: 18px
    }
    .unhittable-site-header.unhittable-style2 .unhittable-social-btn.unhittable-style1 li:launhittable-child {
        margin-right: 0
    }
    .unhittable-site-header.unhittable-style2 .unhittable-social-btn.unhittable-style1 li a:hover {
        color: #070d1b
    }
    .unhittable-site-header.unhittable-style2 .unhittable-main-header-left {
        margin-bottom: 24px
    }
    .unhittable-site-header.unhittable-style2 .unhittable-btn.unhittable-style1 {
        margin-top: 20px;
        font-size: 14px;
        padding: .6em 1.3em
    }
    .unhittable-site-header.unhittable-style2 .unhittable-hero-btn {
        margin-top: 22px
    }
    .unhittable-site-header.unhittable-style2 .unhittable-main-header-left {
        margin-left: -40px;
        margin-right: -40px;
        border-bottom: 1px solid #101624;
        padding-bottom: 40px
    }
    .unhittable-get-sidebar {
        padding-left: 300px
    }
    .unhittable-get-sidebar .unhittable-sticky-footer {
        left: 300px;
        max-width: calc(100% - 300px)
    }
}
.unhittable-hero-btn1{
    background: #34495E;
    width: 15rem;
    color: #51ff00;
}
@media screen and (max-width:991px) {
    .unhittable-site-header .unhittable-btn, .unhittable-site-header.unhittable-style2 .unhittable-opening-hr, .unhittable-site-header.unhittable-style2 .unhittable-social-btn.unhittable-style1 {
        display: none !important
    }
    .unhittable-site-header.unhittable-style2 {
        background-color: #070d1b;
        border-bottom: 1px solid #101624
    }
    .unhittable-site-header.unhittable-style2 .unhittable-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .unhittable-site-header.unhittable-style2 .unhittable-main-header-in {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 70px
    }
    .unhittable-site-header.unhittable-style2 .unhittable-header-author {
        height: 50px;
        width: 50px;
        border: 2px solid rgba(255, 255, 255, .1)
    }
}
.unhittable-hero-wrap {
    position: relative;
    height: 850px;
    background-color: #070d1b
}
.unhittable-hero-wrap img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
.unhittable-hero-wrap .unhittable-hero-img {
    position: absolute;
    right: 4%;
    top: 0;
    height: 100%;
    width: 45%;
    z-index: 11
}
.unhittable-hero.unhittable-style1 {
    height: 710px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    z-index: 11
}
.unhittable-hero.unhittable-style1 .unhittable-hero-text h1 {
    font-size: 100px;
    margin-bottom: 50px;
    font-weight: 550;
    color: #fdfeff;
    line-height: 1
}
.unhittable-hero.unhittable-style1 .unhittable-hero-text h2 {
    font-size: 36px;
    margin-bottom: 41px;
    font-weight: 300;
    color: #a9adb8
}
.unhittable-hero.unhittable-style1 .unhittable-hero-text h3 {
    font-size: 30px;
    margin-top: -6px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #51ff00
}
.unhittable-social-group {
    background-color: #101624;
    border: 1px solid #232935;
    border-right: 0;
    border-radius: 50px 0 0 50px;
    height: 80px;
    width: 448px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    padding-left: 12px;
    right: 100%
}
.unhittable-hero.unhittable-style2 {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #070d1b
}
.unhittable-hero.unhittable-style2 .container {
    position: relative;
    z-index: 11
}
.unhittable-hero.unhittable-style2 h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px
}
.unhittable-hero.unhittable-style2 h1 span {
    color: #51ff00
}
.unhittable-hero.unhittable-style2 p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 22px
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    color: #000;
    top: 0;
    left: 0
}
.unhittable-hero-social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.unhittable-hero-social-links .unhittable-social-btn {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    margin: 0 10px
}
.unhittable-hero-social-links .unhittable-social-btn:hover {
    border-color: rgba(255, 255, 255, .6);
    color: rgba(255, 255, 255, .9)
}
#background-wrap {
    bottom: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    opacity: .1
}
@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px
    }
    100% {
        margin-top: -100%
    }
}
@keyframes animateBubble {
    0% {
        margin-top: 1000px
    }
    100% {
        margin-top: -100%
    }
}
@-webkit-keyframes sideWays {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 50px
    }
}
@keyframes sideWays {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 50px
    }
}
.unhittable-to-right {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
@media screen and (max-width:991px) {
    .unhittable-hero-wrap {
        height: initial
    }
    .unhittable-hero-wrap .unhittable-hero-img {
        display: none
    }
}
@media screen and (max-width:767px) {
    .unhittable-hero.unhittable-style2 h1 {
        font-size: 40px
    }
    .unhittable-hero.unhittable-style2 p {
        font-size: 16px
    }
    .unhittable-hero.unhittable-style2 p br {
        display: none
    }
}
@media screen and (max-width:575px) {
    .unhittable-hero.unhittable-style1 {
        height: 580px
    }
    .unhittable-hero.unhittable-style1 .unhittable-hero-text h1 {
        font-size: 90px
    }
}
.unhittable-btn.unhittable-style1, .unhittable-btn.unhittable-style2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 1.5em;
    font-weight: 500;
    padding: 12px 1.5em;
    border-radius: 10px;
    min-width: 170px;
    border: none;
    outline: 0;
    color: #33ff00;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.unhittable-btn.unhittable-style2 {
    border: 1px solid;
    padding: .69em 3.2em
}
.unhittable-btn.unhittable-style1:hover, .unhittable-btn.unhittable-style2:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 5px 10px 0 #33ff00;
    box-shadow: 0 5px 10px 0 #33ff00
}
.unhittable-btn.unhittable-style1.unhittable-color1 {
    background-color: #33ff00;
    color: #070d1b
}
.unhittable-btn.unhittable-style1.unhittable-color2 {
    background: #000;
    color: #fff
}
.unhittable-btn.unhittable-style1.unhittable-color3 {
    background: #fff;
    color: #222
}
.unhittable-btn.unhittable-style1.unhittable-color4 {
    background-color: pink;
    color: #fff
}
.unhittable-btn.unhittable-style1.unhittable-color5 {
    background: linear-gradient(45deg, #1446ea 0, #03dcec 88%, #03dcec 100%);
    color: #fff
}
.unhittable-btn.unhittable-style2.unhittable-color1 {
    background-color: transparent;
    border-color: #7400cc;
    color: #33ff00
}
.unhittable-btn.unhittable-style2.unhittable-color1:hover {
    background-color: #7400cc;
    color: #070d1b
}
.unhittable-btn.unhittable-size-medium {
    padding: .6em 1.8em
}
.unhittable-btn.unhittable-style2.unhittable-color2 {
    border-color: #fff;
    color: #fff
}
.unhittable-btn.unhittable-style2.unhittable-color2:hover {
    background-color: #fff;
    color: #222
}
.unhittable-hero-btn-group .unhittable-btn:not(:launhittable-child) {
    margin-right: 12px
}
@media screen and (max-width:991px) {
    .unhittable-btn.unhittable-style1, .unhittable-btn.unhittable-style2 {
        font-size: 14px;
        padding: .72em 1.8em
    }
}
.unhittable-section-heading.unhittable-style1 {
    text-align: center;
    position: relative;
    margin-top: -5px;
    margin-bottom: 41px
}
.unhittable-section-heading.unhittable-style1 .unhittable-section-heading-title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #33ff00;
    position: relative;
    z-index: 10;
    letter-spacing: 1px
}
.unhittable-section-heading.unhittable-style1 .unhittable-section-heading-title::before {
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 170px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.unhittable-section-heading.unhittable-style1 .unhittable-section-heading-title::after {
    content: "";
    position: absolute;
    background-color: #33ff00;
    width: 70px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.unhittable-section-heading.unhittable-style1 .unhittable-section-heading-subtitle {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 90px;
    font-weight: 700;
    color: rgba(21, 27, 41, .5);
    margin: 0;
    margin-top: -17px;
    width: 100%
}
@media screen and (max-width:991px) {
    .unhittable-section-heading.unhittable-style1 .unhittable-section-heading-subtitle {
        display: none
    }
}

.unhittable-iconbox.unhittable-style2 {
    text-align: center;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    padding: 50px 30px;
    border-radius: 3px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #7bff00;
    background-color: #000000;
}
.unhittable-iconbox.unhittable-style2:hover .unhittable-iconbox-icon {
    border: .5px solid #7bff00;
    fill: #080808

    
}
.unhittable-iconbox.unhittable-style2:hover .unhittable-iconbox-icon svg {
    fill: #33ff00
}
.unhittable-iconbox.unhittable-style2:hover .unhittable-iconbox-title {
    color: #7bff00
}
.unhittable-iconbox.unhittable-style2 .unhittable-iconbox-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border: .5px solid #3f4551;
    border-radius: 50%;
    background-color: #070d1b;
    margin: auto;
    font-size: 50px;
    margin-bottom: 28px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.unhittable-iconbox.unhittable-style2 .unhittable-iconbox-icon svg {
    width: 52px;
    fill: #3f4551;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.unhittable-iconbox.unhittable-style2 .unhittable-iconbox-title {
    font-weight: 400;
    line-height: 1.2em;
    font-size: 20px;
    margin-bottom: 16px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.unhittable-iconbox.unhittable-style2 .unhittable-iconbox-text {
    color:#a9adb8;
    margin-bottom: -6px
}


.unhittable-iconbox.unhittable-style1 {
    text-align: center;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    padding: 50px 30px;
    border-radius: 3px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #232935;
    background-color: #101624
}
.unhittable-iconbox.unhittable-style1:hover .unhittable-iconbox-icon {
    border: .5px solid #7400cc
}
.unhittable-iconbox.unhittable-style1:hover .unhittable-iconbox-icon svg {
    fill: #7400cc
}
.unhittable-iconbox.unhittable-style1:hover .unhittable-iconbox-title {
    color: #33ff00
}
.unhittable-iconbox.unhittable-style1 .unhittable-iconbox-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border: .5px solid #3f4551;
    border-radius: 50%;
    background-color: #070d1b;
    margin: auto;
    font-size: 50px;
    margin-bottom: 28px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.unhittable-iconbox.unhittable-style1 .unhittable-iconbox-icon svg {
    width: 52px;
    fill: #3f4551;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.unhittable-iconbox.unhittable-style1 .unhittable-iconbox-title {
    font-weight: 400;
    line-height: 1.2em;
    font-size: 20px;
    margin-bottom: 16px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.unhittable-iconbox.unhittable-style1 .unhittable-iconbox-text {
    color:#a9adb8;
    margin-bottom: -6px
}

.unhittable-contact-text {
    margin-top: -6px;
    margin-bottom: 23px
}
.unhittable-single-contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 30px
}
.unhittable-single-contact-info:hover i {
    border-color: #7400cc
}
.kekw-w{
    background-color: #000;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.input-file-container {
    position: relative;
    width: auto;
} 
.js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #7400cc;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.js .input-file {
    top: 0; left: 0;
    width: 15rem;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #8548a6;
  width: 15rem;
  color: #33ff00;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
  color: #fff;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
.unhittable-single-contact-info i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: .5px solid #3f4551;
    border-radius: 50%;
    background-color: #070d1b;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.unhittable-single-info-details h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 6px
}
.unhittable-single-info-details a {
    display: block;
    margin-bottom: -2px
}
.unhittable-single-info-details a:hover {
    color: #33ff00
}
.unhittable-single-info-details a:launhittable-child {
    margin-bottom: -6px
}
::-webkit-scrollbar {
    
    
width: 15px;
height: 1px;
background: #212332;
}
::-webkit-scrollbar-button {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
width: 15px;
height: 15px;
}
::-webkit-scrollbar-thumb {
background: #2b2e41;
border: 0px none #2b2e41;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
background: #7400cc;
}
::-webkit-scrollbar-thumb:active {
background: #7400cc;
}
::-webkit-scrollbar-track {
background: #212332;
border: 0px none #212332;
}
::-webkit-scrollbar-track:hover {
background: #212332;
}
::-webkit-scrollbar-corner {
background: #212332;
}
.unhittable-copyright-wrap {
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.textname {
    color: #33ff00
}

.logo {
    text-align: center;
    font-family: monospace;
    color: #7bff00;
    animation: color-change 10s infinite;
  }


.backButton {
    text-align: center;
    font-size: 15px;
    font-family: monospace;
    color: #73ff00;
    padding: 30px, 40px;
    position: relative;
    left: -20px;
    margin: 10px;
    width: 200px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

.backButton > a {
    text-decoration: none;
    font-family: monospace;
    color: #9c28fc;
}

.backButton > a:hover {
    font-family: monospace;
    color: #00ff00;
}
